@charset "UTF-8";
/* header */
.header{
  height: 70px;
  background: #000;
}
.header-wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo{
  font-size: 20px;
  font-weight: bold;
  margin-left: 35px;
  color: #f2f2f2;
  line-height: 70px;
}
.header-nav ul{
  display: flex;
}
.header-nav li{
  margin-right: 35px;
  font-size: 16px;
}
.header-nav a{
  color: #f2f2f2;
  text-decoration: none;
}
/* main */
#eyecatch{
  height: 800px;
  background: url(../img/eyecatch.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
#eyecatch h2{
  position: absolute;
  top: 60%;
  left: 30%;
  transform: translate(-60%, -30%);
  font-size: 50px;
  font-style: italic;
  font-weight: bold;
  color: #fff;
  line-height: 1;
}
.news-wrap{
  position: absolute;bottom: 0px;right: 0px;
  display: flex;
  justify-content: flex-end;
}
.news-content{
  background: #fff;
  font-size: 14px;
  margin: 0 auto;
  padding-left: 5px;
  width: 700px;
  height: 60px;
}
.news-content span{
  display: block;
  padding-left: 10px;
}
.news-logo{
  width: 120px;
  height: 60px;
  background: #000;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  line-height: 60px;
  text-align: center;
}
/* mission */
#mission{
  height: 730px;
  background-color: #fff;
  position: relative;
}
.mission-wrap{
  background: #000;
  height: 520px;
}
.mission-left{
  position: absolute;
  top: 30%;
  left: 35%;
  transform: translate(-30%,-35%);
}
.mission-left h2,
.mission-left p{
  color: #fff;
} 
#mission .mission-title{
  font-size: 24px;
  font-weight: bold;
}
.mission-left p{
  font-size: 14px;
  margin: 20px 20px;
}
.mission-right img{
  position: absolute;
  top: 65%;
  left: 80%;
  transform: translate(-65%,-80%);
  width: 650px;
  height: 450px;
}
.button{
  background: #fff;
  color: #000;
  padding: 10px 24px;
  text-decoration: none;
}
/* service */
#service{
  height: 1700px;
  background-color: #dddddd;
  position: relative;
}
.service-title{
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  padding: 5px;
}
.service-1{
  background-color: #fff;
  width: 600px;
  height: 300px;
  position: absolute;
  top: 16%;
  left: 30%;
  transform: translate(-16%,-30%);
  z-index: 10;
}
.service-wrap{
  margin-left: 80px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.service-1 h3,p{
  margin-bottom: 15px;
  font-size: 13px;
}
.service-1 h3{
  font-weight: bold;
}
.service-button{
  position: relative;
  left: 320px;
  text-decoration: none;
  color: black;
  font-size: 14px;
  border: 1px solid;
  padding: 10px 30px;
}
.service-2 img{
  position: absolute;
  top: 23%;
  left: 61%;
  transform: translate(-23%,-61%);
  width: 850px;
  height: 550px;
  z-index: 5;
}
.service-3 img{
  position: absolute;
  top: 60%;
  left: 30%;
  transform: translate(-60%,-30%);
  width: 850px;
  height: 450px;
}
.service-4{
  background-color: #fff;
  width: 600px;
  height: 300px;
  position: absolute;
  top: 49%;
  left: 58%;
  transform: translate(-49%,58%);
}
.service-wrap2{
  margin-left: 80px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.service-4 h3,p{
  margin-bottom: 15px;
  font-size: 13px;
}
.service-4 h3{
  font-weight: bold;
}
/* menu */
#menu{
  background-color: #fff;
  height: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.company-wrap{
  background-image: url("../img/company.jpeg");
  width: 800px;
  height: 260px;
  background-size: 100% auto;
  background-position: center;
}
.company-content{
  height: 60px;
  text-align: center;
  padding: 90px 0;
}
.company-title{
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}
.company-content span{
  font-size: 36px;
  font-weight: bold;
}
.recruit-wrap{
  background-image: url("../img/recruit.jpg");
  width: 800px;
  height: 260px;
  background-size: 100% auto;
  background-position: center;
}
.recruit-content{
  height: 60px;
  text-align: center;
  padding: 90px 0;
}
.recruit-title{
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}
.recruit-content span{
  font-size: 36px;
  font-weight: bold;
}
#faq{
  height: 325px;
}
.faq-wrap{
  background-color: black;
  width: 1200px;
  height: 150px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.faq-content{
  height: 40px;
  width: 1000px;
  padding-left: 50px;
}
.faq-title{
  text-decoration: none;
  color: #fff;
  font-size: 36px;
  font-weight: bold;
}
.faq-ja-title{
  height:60px;
  width: 120px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  margin-left: 410px;
  font-size: 20px;
}
/* contact */
#contact{
  height: 615px;
  background: url(../img/contact-bg.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}
.contact-wrap{
  height: 60px;
  text-align: center;
  padding-top: 155px;
  margin-top: 50px;
}
.contact-title{
  color: #fff;
  font-weight: bold;
  font-size: 18px;
}
.contact-title span{
  font-size: 36px;
  font-weight: bold;
}
.contact-content{
  height: 40px;
  text-align: center;
  padding-top: 100px;
}
.contact-subtitle{
  color: #fff;
  font-size: 38px;
}
.contact-details{
  height: 30px;
  text-align: center;
  padding-top: 85px;
}
.contact-details p{
  color: #fff;
  font-weight: bold;
}
.contact-button-wrap{
  height: 20px;
  text-align: center;
  padding-top: 60px;
}
.contact-button{
  text-decoration: none;
  color: #fff;
  border: 1px solid;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 25px;
}
#footer{
  height: 70px;
  background: #000;
}
.footer-wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-logo{
  font-size: 20px;
  font-weight: bold;
  margin-left: 35px;
  color: #f2f2f2;
  line-height: 70px;
}
.footer-nav ul{
  display: flex;
}
.footer-nav li{
  margin-right: 35px;
  font-size: 16px;
}
.footer-nav a{
  color: #f2f2f2;
  text-decoration: none;
  font-size: 14px;
}
.copyright{
  background: #000;
  text-align: center;
  height: 20px;
}
small{
  color: #fff;
  font-size: 14px;
}