@charset "UTF-8";
/* header */
.header{
  height: 70px;
  background: #000;
}
.header-wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo{
  font-size: 20px;
  font-weight: bold;
  margin-left: 35px;
  color: #f2f2f2;
  line-height: 70px;
}
.header-nav ul{
  display: flex;
}
.header-nav li{
  margin-right: 35px;
  font-size: 16px;
}
.header-nav a{
  color: #f2f2f2;
  text-decoration: none;
}
/* main */
#eyecatch{
  height: 800px;
  background: url(../img/eyecatch.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
#eyecatch h2{
  position: absolute;
  top: 60%;
  left: 30%;
  transform: translate(-60%, -30%);
  font-size: 50px;
  font-style: italic;
  font-weight: bold;
  color: #fff;
  line-height: 1;
}
.news-wrap{
  position: absolute;bottom: 0px;right: 0px;
  display: flex;
  justify-content: flex-end;
}
.news-content{
  background: #fff;
  font-size: 14px;
  margin: 0 auto;
  padding-left: 5px;
  width: 700px;
  height: 60px;
}
.news-content span{
  display: block;
  padding-left: 10px;
}
.news-logo{
  width: 120px;
  height: 60px;
  background: #000;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  line-height: 60px;
  text-align: center;
}
/* mission */
#mission{
  height: 750px;
  background-color: #fff;
  position: relative;
}
.mission-wrap{
  background: #000;
  width: 600px;
}
.mission-left{
  position: absolute;
  top: 30%;
  left: 35%;
  transform: translate(-30%,-35%);
}
.mission-left h2,
.mission-left p{
  color: #fff;
} 
#mission .mission-title{
  font-size: 24px;
  font-weight: bold;
}
.mission-left p{
  font-size: 14px;
  margin: 20px 20px;
}
.mission-right img{
  position: absolute;
  top: 65%;
  left: 80%;
  transform: translate(-65%,-80%);
  width: 650px;
  height: 450px;
}
.button{
  background: #fff;
  color: #000;
  padding: 10px 24px;
}